html {
    position: relative;
    padding: 0px;
    background-image: url('Mount.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    /*border-radius: 10px; looks too strange along menu bar*/ 
    background-color: rgba(255, 255, 255, .25);
    display: block;
}

.tablinks {
  border-radius: 2px;
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 25px;
}

.tablinks span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.tablinks span:after {
  content: '\00bb'; /*V char = \2304 and > char = \02C3 */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.tablinks:hover span {
  padding-right: 25px;
}

.tablinks:hover span:after {
  opacity: 1;
  right: 0;
}

/* Style the tab */
div.tab {
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .50);
    width : 100%;
}

/* Style the buttons inside the tab */
div.tab button {
    -webkit-flex-grow: 1; /* Safari*/
    flex-grow: 1;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.43s;
}


/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgba(0, 0, 0, .20);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(0, 0, 0, .30);
}

/* Style the tab content */
.tabcontent {
    padding: 0px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /*background-color: rgba(255, 255, 255, .25);*/
    /*border: 1px solid #ccc;*/
    /*-webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s; /* Fading effect takes 2 second *//*
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}*/
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    margin-top: 2px;
    background-color: rgba(255, 255, 255, .50);
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.5s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: rgba(0, 0, 0, .50);
    color: #fff;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    display: block;
    margin: 0 10px 5px 10px;
    max-height: 0; 
    padding: 0 18px;
    background-color: rgba(255, 255, 255, .50);
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

div.panel p {
    text-align: justify;
    display: block;
    margin: 0; 
    padding: 5px 0;
    font-family: "Comic Sans MS";
}

/* Style the profile pic*/
img.profilepic{
    display: block;
    margin:auto;
    border: 5px solid;
    border-color:rgba(255, 255, 255, .40);
    border-radius: 50%;
    padding: auto;
}

table {
    font-family: "Comic Sans MS";
    margin: auto;
    background-color: rgba(255, 255, 255, .50);
    border-radius: 10px;
    padding-right: 20px;
}

input[type=text], select {

    font-family: "Comic Sans MS";
    width: 100%;
    padding: 12px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    font-family: "Comic Sans MS";
    width: 100%;
    padding: 12px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-family: "Comic Sans MS";
    display: block;
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #44a048;
}

/*input{
    display: inline-block;
    border-radius: 5px;
    padding: auto;
    float: center;
    color: grey;
    width: 250px;
}*/

/* Style the headers*/
h2{
    text-align: center;
}

h2.title {
    position: relative;
    text-transform: uppercase;
    font-family: "Times";
}

h3 {
    padding: 0 15px;
    font-family: "Times";
}
/* Style links */
a {
    color: black;
    text-decoration: none;
}

li {
    font-family: "Comic Sans MS";
}

p::after{
    text-align: right;
    display: inline-block;/**/
    content: attr(datedata);
    float: right;
}

/* Cool tricks with color changing fonts!
h1 {
    text-align: center;
    ##text-shadow: 2px 2px  1px black;
    font: bold 40px georgia, serif;
    color: #333333;
    animation: mymove 5s infinite;   
}
@keyframes mymove {
    50% {color: blue;}
}
*/